/.vs/BouncyCastleExtensions/v15/*.suo
/.vs/BouncyCastleExtensions/v15/Server/sqlite3/*.lock
/.vs/BouncyCastleExtensions/v15/Server/sqlite3/*.ide
/.vs/BouncyCastleExtensions/v15/Server/sqlite3/*.ide-shm
/.vs/BouncyCastleExtensions/v15/Server/sqlite3/*.ide-wal
/src/obj/Debug/*.cache
/tests/obj/Debug/*.cache
/bin/Debug
/obj/Debug
/.vs/BouncyCastleExtensions/DesignTimeBuild/*.dtbcache
/src/bin/Debug
/src/obj/Debug
/tests/*.user
/tests/bin/Debug
/tests/obj/Debug
/tests/src/bin/Debug
/tests/src/obj/Debug
